<meta charset="UTF-8">
<meta name="description" content="{{site.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PMDO Leaderboards: {{page.title or page.name}}</title>

<link rel="icon" type="image/png" href="/images/favicon/PMDO_favicon.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,350;0,700;1,350;1,700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="{{ 'styles/main.css' | prepend: site.baseurl }}">