<h1><div>PMDO Leaderboards</div></h1>

<script>
    function change_page(page) {
        window.location.href = page;
    }
</script>

<div class="dropdown">
    <select onchange="change_page(this.value)">
        <optgroup label="Site">
            <option value="{{site.baseurl}}/">About</option>
        </optgroup>

        {% assign groups_sorted = site.groups | sort: "sort-order" %}
        {% for group in groups_sorted %}
            {% assign group_name = group.id | split: "/" | last %}
            {% assign boards = site.leaderboards | where: "hidden", false | where_exp: "board", "board.group == group_name" | sort: "sort-order" %}
            {% assign count = boards | size %}
            {% if count > 0 %}
                <optgroup label="{{group.title}}">
                    {% for board in boards %}
                        <option value="{{site.baseurl}}{{board.url}}" {% if board.title == page.title %}selected{% endif %}>{{board.title}}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>
</div>



<h2 title="{{page.secret}}" {% if page.long-title %}class="long-title"{% endif %}><div>{{page.title}}</div></h2> 
{% if page.info %}<span id="modal-info">ⓘ</span>{% endif %}


{% capture modal_content %}{% include modal.html %}{% endcapture %}
{% assign modal_content = modal_content | strip_newlines %}

<script>
    document.getElementById('modal-info').onclick = function() {
      Modal.open({
        content: "{{modal_content}}",
      });
    }
</script>