{% assign standing = "" | split: "," %}
{% assign outdated = "" | split: "," %}

{% assign replays_with_scores = "" | split: "," %}
{% for replay in site.data[include.board_name] %}

    {% assign replay_json = replay | jsonify %}

    {% capture replay.score %}{{replay["Money"] | plus: replay["Inventory Value"] | minus: replay["Starting Money"]}}{%endcapture%}

    {{replay}}<br><br>

    {% assign ranking = "" | split: "," %}

    {% assign ranking = ranking | push: replay["Player"] | push: replay | push: replay["Floor"] | push: site.result_orderings[replay["Result"]] | push: score | push: replay["Turns"] %}

    {% assign replays_with_scores = replays_with_scores | push: ranking %}

{% endfor %}

{%comment%}{{replays_with_scores | inspect}}{%endcomment%}


{% assign players = site.data[include.board_name] | group_by: "Player" %}

{% comment %} Get just the record-holding runs: {% endcomment %}

{% for player in players %}

    {% assign best = nil %}

    {% for run in player.items %}
        {% if best %}
            {% comment %} Compare floors {% endcomment %}
            {% if run["Floor"] > best["Floor"] %}
                {% assign best = run %}
            {% elsif run["Floor"] == best["Floor"] %}
                {% comment %} Compare results {% endcomment %}
                {% assign run_result = site.result_orderings[run["Result"]] %}
                {% assign best_result = site.result_orderings[run["Result"]] %}

                {% if run_result < best_result %}
                    {% assign best = run %}
                {% elsif run_result == best_result %}
                    {% comment %} Compare score {% endcomment %}
                    {% assign run_score = run["Money"] | plus: run["Inventory Value"] | minus: run["Starting Money"] %}
                    {% assign best_score = best["Money"] | plus: best["Inventory Value"] | minus: best["Starting Money"] %}

                    {% if run_score > best_score %}
                        {% assign best = run %}
                    {% elsif run_score == best_score %}
                        {% comment %} Compare turns. You have to be strictly better to beat it out. {% endcomment %}
                        {% if run["Turns"] < best["Turns"] %}
                            {% assign best = run %}                            
                        {% else %}
                            {% assign outdated = outdated | push: run %}
                        {% endif %}
                    {% else %}
                        {% assign outdated = outdated | push: run %}
                    {% endif %}
                {% else %}
                    {% assign outdated = outdated | push: run %}
                {% endif %}
            
            {% else %}
                {% assign outdated = outdated | push: run %}
            {% endif %}

        {% else %}
            {% assign best = run %}
        {% endif %}


    {% endfor %}

    {% assign standing = standing | push: best %}


{% endfor %}


{{standing | inspect}}


<div class="leaderboard">
    <table>
        <tr>
            {% if include.is_leaderboard %}<th class="align-right">#</th>{% endif %}
            <th>Player</th>
            <th>Date</th>
            <th>Team Name</th>
            <th>Result</th>
            <th class="align-right hidden">Money</th>
            <th class="align-right hidden">Inv. Value</th>
            <th class="align-right">Score</th>
            <th class="align-right">Turns</th>
            <th>Team</th>
            {% unless include.is_roguelocke %}<th>Starting Items</th>{% endunless %}
            <th>Version</th>
            <th>Seed</th>
            <th>Replay</th>
            <!--th>Notes</th-->
        </tr>
        {% if include.is_leaderboard %}
            {% assign count = 0 %}
        {% endif %}
        
        {% for replay in standing %}
            <tr>
                {% if include.is_leaderboard %}{% assign count = count | plus: 1 %}<td class="align-right">{{count}}</td>{% endif %}
                <td>{{replay["Player"]}}</td>
                <td>{{replay["Date"]}}</td>
                <td>{{replay["Team Name"]}}</td>
                <td>{{replay["Result"]}} on {% if page.is_basement %}{{"B"}}{% endif %}{{replay["Floor"]}}F</td>
                <td class="align-right hidden">{{replay["Money"]}}</td>
                <td class="align-right hidden">{{replay["Inventory Value"]}}</td>
                <td class="align-right">{{replay["Money"] | plus: replay["Inventory Value"] | minus: replay["Starting Money"]}}</td>
                <td class="align-right">{{replay["Turns"]}}</td>
                <td>
                    {% assign members = replay["Team"] | split: "," %}
                    {%- for member in members -%}
                        {%- assign species = member | split: "/" | last -%}
                        {%- assign nickname = member | split: "/" | first -%}<figure>
                            <img src="/images/portraits/{{species | slugify}}.png" alt="{{species | split: "|" | first }}" title="{{species | split: "|" | first }}" class="portrait">
                            <figcaption>{{nickname}}</figcaption>
                        </figure>{%- endfor -%}
                </td>
                {% unless include.is_roguelocke %}<td>{% assign items = replay["Starting Items"] | split: "," %}
                    {% for item in items %}{{item}}<br>{% endfor %}
                </td>{% endunless %}
                <td>{{replay["Version"]}}</td>
                <td class="monospace">{{replay["Seed"]}}</td>
                <td>
                    {% if replay["File"] %}{{site.baseurl}}<a href="/replays/{{page.title | slugify}}/{{replay["File"]}}" target="_blank">{{replay["File"]}}</a>{% else %}{{replay["File"]}}{% endif %}
                    {% if replay["Video URL"] %}<br><a href="{{replay["Video URL"]}}" class="video-link" target="_blank">Video</a>{% endif %}
                </td>
                <!--td>{{replay["Notes"]}}</td-->
            </tr>
        {% endfor %}
    </table>
</div>