.dropdown {
	margin: auto;
	text-align: center;
	width: fit-content;
	border-radius: 0.5em;
}

select {
	margin: 0.35em;
	border: 0px;
	border-radius: 0.25em;
	padding: 0.25em;
	font-family: "Merriweather Sans", sans-serif;
}