#modal-container {
	border: unset;
	padding: 0.25em;
	border-radius: 0.75em;

	font: unset;

	left: 25%;
	top: 12.5%;
	width: 32.5%;

	h4 {
		font-family: "Merriweather Sans";
		margin-top: 0;
		font-size: 14pt;
	}

	h5 {
		font-family: "Merriweather Sans";
		margin-top: 0;
		margin-bottom: .5em;
		font-size: 12pt;
	}
}

#modal-inner {
	margin: 0.15em;
	padding: 0.125em 0.25em;
	border-radius: 0.5em;
}

#modal-close {
	background: url('../images/jsmodal/modal-close.png') no-repeat center center;
}

#modal-content {
	max-height: 80vh;
	overflow-y: scroll;
}

table.depth-rubric {

	border-spacing: 0;

	td, th { 
		padding: 0.2em 0.25em;
		min-width: fit-content;
	}

	tr:first-of-type th:first-child, tr:first-of-type td:first-child {
        border-top-left-radius: 0.75em;
    }
    tr:first-of-type th:last-child, tr:first-of-type td:last-child {
        border-top-right-radius: 0.75em;
    }
	tr:last-of-type th:first-child, tr:last-of-type td:first-child {
        border-bottom-left-radius: 0.75em;
    }
    tr:last-of-type th:last-child, tr:last-of-type td:last-child {
        border-bottom-right-radius: 0.75em;
    }
}