table {

	width: 100%;

	td, th { 
		border: 0px solid;
		padding: 0.2em 0.25em;
		min-width: fit-content;
	}

	tr:first-of-type th:first-child, tr:first-of-type td:first-child {
        border-top-left-radius: 0.75em;
    }
    tr:first-of-type th:last-child, tr:first-of-type td:last-child {
        border-top-right-radius: 0.75em;
    }
	tr:last-of-type th:first-child, tr:last-of-type td:first-child {
        border-bottom-left-radius: 0.75em;
    }
    tr:last-of-type th:last-child, tr:last-of-type td:last-child {
        border-bottom-right-radius: 0.75em;
    }

	.header-column {
		position: sticky;
		left: 0;
	}

	th {
		height: 1.75em;
	}

	h5 {
		font-size: inherit;
		margin: 0.25em 0 0.5em;
	}
}

div.leaderboard {
	border-radius: 1em;
	
	padding: 0.25em;
	margin: 0 8px 8px;
	overflow-x: scroll;
}

.gender-unlock {
	font-weight: bold;
	color: blueviolet;
	cursor: help;
}

.item-list {
	padding-left: 1.5em;
	margin-top: .25em;
	margin-bottom: .25em;
}