// Solid Themes

body.theme-solid {
	background-image: linear-gradient(var(--bg-color-1), var(--bg-color-2),);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: var(--text-color);

	td, nav a, .inner, select {
		background-color: var(--fg-color-light1);
	}

	th, nav a:hover, nav strong, h1 div, h2 div, h3 div {
		background-color: var(--fg-color-light2);
	}

	.about, div.leaderboard, nav, h1, h2, h3, div.dropdown {
		background-color: var(--fg-color-dark1);
		border-bottom: 2px solid var(--fg-color-dark2);
		box-shadow: 2px 2px 4px var(--fg-color-dark3);
	}

	.portrait {
		border-color: var(--fg-color-dark2);
	}

	a {
		text-decoration: none;
	
		&:link {
			color: var(--link-color);
		}
		&:hover {
			text-decoration: underline;
		}
		&:active {
			color: var(--link-active-color);
		}
	}

	nav a {
		&:link {
			color: var(--text-color);
		}
		&:hover {
			text-decoration: none;
		}
	}

	#modal-container {
		background-color: var(--fg-color-dark1);
		border-bottom: 2px solid var(--fg-color-dark2);
		box-shadow: 2px 2px 4px var(--fg-color-dark3);
	}
	
	#modal-inner {
		background-color: var(--fg-color-light1);
	}

	table.depth-rubric {	
		// border: 1px solid var(--fg-color-dark1);

		th { 
			border-top: 1px solid var(--fg-color-dark1);
		}
		tr:last-of-type td { 
			border-bottom: 1px solid var(--fg-color-dark1);
		}
		tr th:first-child, tr td:first-child {
			border-left: 1px solid var(--fg-color-dark1);
		}
		tr th:last-child, tr td:last-child {
			border-right: 1px solid var(--fg-color-dark1);
		}
	}
}

body.theme-guildmaster {
	--text-color: black;
	--fg-color-light1: #fffff9;
	--fg-color-light2: rgb(253, 232, 189);
	--fg-color-dark1: #960;
	--fg-color-dark2: #630;
	--fg-color-dark3: rgba(32, 16, 0, 0.5);
	--bg-color-1: rgb(158, 221, 250);
	--bg-color-2: rgb(110, 167, 252);
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);	
}

body.theme-sickly-hollow {
	--text-color: black;
	--fg-color-light1: #f7e6ff;
	--fg-color-light2: #c296d7;
	--fg-color-dark1: #609;
	--fg-color-dark2: #306;
	--fg-color-dark3: rgba(16, 0, 32, 0.5);
	--bg-color-1: rgb(123, 156, 107);
	--bg-color-2: rgb(82, 90, 41);
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-secret-garden {
	--text-color: black;
	--fg-color-light1: #f9fff0;
	--fg-color-light2: #bd7;
	--fg-color-dark1: #690;
	--fg-color-dark2: #360;
	--fg-color-dark3: rgba(16, 32, 0, 0.5);
	--bg-color-1: rgb(199, 249, 255);
	--bg-color-2: rgb(110, 219, 252);
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-wish-cave {
	--text-color: black;
	--fg-color-light1: #fee9e1;
	--fg-color-light2: #f7de94;
	--fg-color-dark1: #de9c73;
	--fg-color-dark2: #c67b42;
	--fg-color-dark3: rgba(8, 49, 12, 0.75);
	--bg-color-1: #188c73;
	--bg-color-2: #003908;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-joyous-tower {
	--text-color: black;
	--fg-color-light1: #f8fefe;
	--fg-color-light2: #cedede;
	--fg-color-dark1: #8cadbd;
	--fg-color-dark2: #6b7b84;
	--fg-color-dark3: rgba(37, 45, 45, 0.5);
	--bg-color-1: #bd738c;
	--bg-color-2: #9c4a4a;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-purity-forest {
	--text-color: black;
	--fg-color-light1: #fcf0d1;
	--fg-color-light2: #f7de8c;
	--fg-color-dark1: #dea573;
	--fg-color-dark2: #a59463;
	--fg-color-dark3: rgba(82, 132, 49, 0.75);
	--bg-color-1: #a5de52;
	--bg-color-2: #7bc652;
	--bg-color-3: #6bad52;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-zero-isle-east {
	--text-color: black;
	--fg-color-light1: #ffffff;
	--fg-color-light2: #ddeec4;
	--fg-color-dark1: #c69c84;
	--fg-color-dark2: #8c5252;
	--fg-color-dark3: rgba(0, 24, 41, 0.75);
	--bg-color-1: #18395a;
	--bg-color-2: #001829;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-zero-isle-west {
	--text-color: black;
	--fg-color-light1: #fffff9;
	--fg-color-light2: #e7bdad;
	--fg-color-dark1: #947373;
	--fg-color-dark2: #4a5252;
	--fg-color-dark3: rgba(33, 66, 41, 0.75);
	--bg-color-1: #526b8c;
	--bg-color-2: #29394a;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-zero-isle-south {
	--text-color: black;
	--fg-color-light1: #ced6f0;
	--fg-color-light2: #ced6de;
	--fg-color-dark1: #949cbd;
	--fg-color-dark2: #52636b;
	--fg-color-dark3: rgba(57, 74, 82, 0.5);
	--bg-color-1: #a5a57b;
	--bg-color-2: #848c73;
	--bg-color-3: #10426b;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

body.theme-destiny-tower {
	--text-color: black;
	--fg-color-light1: #efebe3;
	--fg-color-light2: #f9e8a4;
	--fg-color-dark1: #c4c7ce;
	--fg-color-dark2: #9fa5b3;
	--fg-color-dark3: rgba(32, 29, 36, 0.5);
	--bg-color-1: #343239;
	--bg-color-2: #003;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

// Gradient Themes

body.theme-gradient {
	background-image: linear-gradient(var(--bg-color-1), var(--bg-color-2),);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: var(--text-color);

	td, nav a, .inner, select {
		background-color: var(--fg-color-light1);
	}

	th, nav a:hover, nav strong, h1 div, h2 div, h3 div {
		background-color: var(--fg-color-light2);
	}

	.about, div.leaderboard, nav, h1, h2, h3, div.dropdown {
		background-image: linear-gradient(var(--fg-color-dark1-top), var(--fg-color-dark1-bottom),);
		background-repeat: no-repeat;

		border-bottom: 2px solid var(--fg-color-dark2);
		box-shadow: 2px 2px 4px var(--fg-color-dark3);
	}

	.portrait {
		border-color: var(--fg-color-dark2);
	}

	a {
		text-decoration: none;
	
		&:link {
			color: var(--link-color);
		}
		&:hover {
			text-decoration: underline;
		}
		&:active {
			color: var(--link-active-color);
		}
	}

	nav a {
		&:link {
			color: var(--text-color);
		}
		&:hover {
			text-decoration: none;
		}
	}
}

body.theme-rescue-team {
	--text-color: black;
	--fg-color-light1: rgba(255, 255, 255, 0.9);
	--fg-color-light2: rgba(255, 255, 255, 0.5);
	--fg-color-dark1-top: #ff302b;
	--fg-color-dark1-bottom: #008bde;
	--fg-color-dark2: #0a6aab;
	--fg-color-dark3: rgba(4, 25, 44, 0.5);
	--bg-color-1: #1078e8;
	--bg-color-2: #60c0e8;
	--link-color: rgb(0, 93, 233);
	--link-color-active: rgb(235, 200, 0);
}

// Unused Themes

/* body.theme-spooky {
	background-image: linear-gradient(rgb(109, 117, 187), rgb(91, 83, 119),);
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;

	td, nav a {
		background-color: #ecf;
	}

	th, nav a:hover, nav strong, h2 div, h1 div {
		background-color: #c296d7;
	}

	div.leaderboard, nav, h1, h2, div.dropdown {
		background-color: #609;
		border-bottom: 2px solid #306;
		box-shadow: 2px 2px 4px rgba(16, 0, 32, 0.5);
	}

	.portrait {
		border-color: #306;
	}

	a {
		text-decoration: none;
	
		&:link {
			color: rgb(0, 93, 233);
		}
		&:hover {
			text-decoration: underline;
		}
		&:active {
			color: rgb(235, 200, 0);
		}
	}

	nav a {
		&:link {
			color: black;
		}
		&:hover {
			text-decoration: none;
		}
		
	}
}
*/