{% include head.html %}

<body class="{{page.theme}}">

    {% include header.html %}

    {% comment %} Yes, seriously. If I just try to assign page.board_type == "roguelocke" to a variable it just assigns the value of page.board_type. Why. {% endcomment %}
    {% if page.board_type == "roguelocke"%}
        {% assign is_roguelocke = true %}
    {% else %}
        {% assign is_roguelocke = false %}
    {% endif %}

    {% assign board_name = page.title | slugify %}

    {% assign board_name_leaderboard = board_name | append: "-leaderboard" %}

    {% include replay-table.html is_roguelocke=is_roguelocke is_leaderboard=true board_name=board_name_leaderboard %}
    
    {% assign board_name_outdated = board_name | append: "-outdated" %}
    {% if site.data[board_name_outdated] %}
        <h3><div>Other runs</div></h3>
        
        {% include replay-table.html is_roguelocke=is_roguelocke is_leaderboard=false board_name=board_name_outdated %}

    {% endif %}

</body>